<?xml version="1.0" encoding="utf-8" ?>
<Parameters>
    <outputFolder>E:\LN_Test\</outputFolder>

    <interactiveMode>false</interactiveMode>
    
    <author>ARUS Joshua</author>
    <defaultChapterTitle>Chapitre {0}</defaultChapterTitle>
    
    <lnToRetrieve>
        <ln>
            <name>Todag</name>
            <urlCover>https://f01.mrcdn.info/file/mrportal/h/c/q/f/uC.icW3kgA3.jpg</urlCover>
            <versions>
                <version>
                    <url>http://www.wuxiaworld.com/novel/tales-of-demons-and-gods/tdg-chapter-{0}</url>
                    <language>EN</language>
                    <firstChapterNumber>1</firstChapterNumber>
                    <lastChapterNumber>3</lastChapterNumber>
                </version>
                <version>
                    <url>http://xiaowaz.fr/articles/tdg-chapitre-{0}</url>
                    <language>FR</language>
                    <firstChapterNumber>1</firstChapterNumber>
                    <lastChapterNumber></lastChapterNumber>
                </version>
            </versions>
        </ln>
        
        <ln>
            <name>Btth</name>
            <urlCover>http://chireads.com/wp-content/uploads/2017/09/%E6%96%97%E7%A0%B4%E8%8B%8D%E7%A9%B9-jpg.jpg</urlCover>
            <versions>
                <version>
                    <url>http://www.wuxiaworld.com/novel/battle-through-the-heavens/btth-chapter-{0}</url>
                    <language>EN</language>
                    <firstChapterNumber>1</firstChapterNumber>
                    <lastChapterNumber>3</lastChapterNumber>
                </version>
                <version>
                    <url>http://xiaowaz.fr/articles/btth-chapitre-{0}</url>
                    <language>FR</language>
                    <firstChapterNumber>1</firstChapterNumber>
                    <lastChapterNumber>3</lastChapterNumber>
                </version>
            </versions>
        </ln>-->
    </lnToRetrieve>
</Parameters>