<?xml version="1.0" encoding="utf-8" ?>
<!-- 


THIS IS A TEMPLATE WHICH IS NOT USED
YOU HAVE TO COPY IT TO YOUR CLIENT (CLI OR GUI)


-->

<Parameters>
    <outputFolder>c:\</outputFolder>
    <interactiveMode>true</interactiveMode>
    <publisher>ARUS Joshua</publisher>
    <defaultChapterTitle>Chapitre {0}</defaultChapterTitle>
</Parameters>